
html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 15px 20px;
}

.logo:hover{
    color: darkgray;
    cursor: pointer;
}


.links {
    display: flex;
    gap: 20px;
    vertical-align: middle;
}




#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

.links{
    display: flex;
    gap: 20px;
}

@media (max-width: 768px){
    .menu-icon{
        display: block;
    }
    .links{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid #333;
    }

    #menu-toggle:checked + .menu-icon + .links {
        display: flex;
        animation: slideDown 0.3s ease forwards;
    }
}

@keyframes slideDown{
    from { opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}




.links a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
    margin: 10px 0;
}

.links a:hover{
    color: darkgrey;
    cursor: pointer;
}


.navbar button{
    background-color: #ffffff;
    border: none;
    color: black;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 16px;
}


.hero{
    background-color: whitesmoke;
    text-align: center;
    padding: 80px 20px 40px;
    color: #000000;
}

.hero h1{
    font-size: 30px;
    margin-bottom: 15px;
}

.hero p{
    font-size: 18px;
    margin-bottom: 25px;
}

.hero button{
    padding: 12px 25px;
    background-color: whitesmoke;
    color: black;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.hero button:hover{
    background-color: lightgray;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.menu-intro{
    background-color: whitesmoke;
    text-align: center;
    padding: 60px 20px 20px;
}

.menu-intro h2{
    font-size: 28px;
    margin-bottom: 10px;
}

.menu-intro p{
    color: #666;
}

.menu{
    padding: 60px 10%;
    text-align: center;
    background-color: #f9f9f9;
}

.menu h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.menu-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.menu-item:hover{
    transform: translateY(-10px) scale(1.02);
}

.menu-item img{
    width: 100%;
    border-radius: 12px;
}


.menu-item h4{
    margin: 12px 6px 0;
    font-size: 18px;
}

.menu-item p{
    font-size: 14px;
    color: #555;
    margin: 6px 0;
}

.menu-title{
    margin: 50px 0 20px;
    font-size: 24px;
    color: #333;
}


.menu-item span{
    display: block;
    color: #e63946;
    font-weight: bold;
    margin-top: 20px;
}


.features{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    text-align: center;
    padding: 50px 20px;
    background-color: white;
}

.card{
    display: inline-block;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3{
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.card p{
    font-size: 16px;
    color: dimgrey;
    margin-bottom: 10px;
}

.card button{
    padding: 8px 16px;
    background-color: #000000;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card button:hover{
    background-color: gray;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.img-section{
    text-align: center;
}

.dishes{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.dishes img{
    width: 250px;
    border-radius: 15px;
    height: auto;
}

.img-section p{
    font-size: 20px;
    color: #333;
}


.hours{
    padding: 70px;
    background-color: white;
    text-align: center;
}

.hours h2{
    font-size: 26px;
    margin-bottom: 30px;
    color: #222;
    transform: translateY(15px);
    animation: 0.8s ease forwards;
}

.hours-container{
    max-width: 500px;
    margin: auto;
}

.day{
    display: flex;
    padding: 14px 18px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #444;
    justify-content: space-between;
}


.day:hover{
    background-color: #eeeeee;
}

.contact{
    text-align: center;
    padding: 60px 20px;
    background: #f9f9f9;
}

.contact h2{
    margin-bottom: 25px;
    font-size: 28px;
}

.contact-form{
    max-width: 500px;
    display: flex;
    margin: auto;
    gap: 20px;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea{
    padding: 12px;
    border: none;
    border-radius: 12px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus{
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.contact-form button{
    padding: 12px;
    margin: 12px;
    border: none;
    border-radius: 12px;
    background: darkblue;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}


footer{
    text-align: center;
    padding: 30px 8%;
    color: #ffffff;
    background-color: #000000;
    /* font-size: 16px; */
}

.socials{
    margin-top: 15px;
}

.socials a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
    position: relative;
    transition: 0.3s;
}

.socials a:hover{
    color: #e63946;
    transform: scale(1.1);
}

